<ion-header [translucent]="true">
  <ion-toolbar [color]="bgcolor">
    <ion-title class="ion-no-padding ion-text-center">
      <ion-text [color]="color">@capacitor/status-bar</ion-text> 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item (click)="setStatus()" class="ion-margin-bottom" lines="none">
      <ion-label>{{color === 'dark' ? 'Style Dark' : 'Style Light'}}</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item (click)="toggleChange($event)" class="ion-margin-bottom" lines="none">
      <ion-label>{{themeToggle ? 'Theme Dark' : 'Theme Light'}}</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-button size="full" (click)="setBackgroundColor()">
      <ion-icon slot="start" name="logo-android"></ion-icon>
      Set Header Background
    </ion-button>
  </div>
</ion-content>